{% extends 'base.html' %}

{% block title %}{{ form.instance.pk|yesno:"Edit Task,Add Task" }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h2>{{ form.instance.pk|yesno:"Edit Task,Add Task" }}</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">{{ form.instance.pk|yesno:"Save Changes,Add Task" }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
